<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mtunzini Running Calendar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="/runningCalendar.css" />
  </head>
  
  <body>
    <h1>Mtunzini Running Calendar</h1>
    
    <h2>I want to run...</h2>
    
    <form method="post" action="/runs">
      <div>
        <button type="button" data-date="today">Today</button>
        <button type="button" data-date="tomorrow" class="selected">Tomorrow</button>
        <button type="button" data-date="picker">Later...</button>
      </div>
      
      <div id="pickerContainer" class="hidden">
        <input id="date" type="date" name="date" />
      </div>
      
      <div>
        <button type="button" data-distance="5">0 to 5K</button>
        <button type="button" data-distance="10" class="selected">5 to 10K</button>
        <button type="button" data-distance="15">10 to 15K</button>
        <button type="button" data-distance="20">15 to 20K</button>
      </div>

      <div>
        <label for="name">Name:</label> <input type="text" name="name" id="name" required />
      </div>
      
      <div>
        <button type="submit">Submit</button>
        <input id="distance" type="hidden" name="distance" />
      </div>
    </form>
    
    <h2>Who's running this week?</h2>
    
    <h3>Today</h3>
    <table>
      <tbody>
      {{#todayRuns}}
        <tr>
          <td>{{name}}</td><td>{{distance}}K</td>
        </tr>
      {{/todayRuns}}
      </tbody>
    </table>
    
    <h3>Tomorrow</h3>
    <table>
      {{#tomorrowRuns}}
        <tr>
          <td>{{name}}</td><td>{{distance}}K</td>
        </tr>
      {{/tomorrowRuns}}
    </table>
    
    <h3>Later</h3>
    <table>
      <tbody>
      {{#laterRuns}}
        <tr>
          <td colspan="2" class="runDivider">{{date}}</td>
        </tr>
        {{#runs}}
          <tr>
            <td>{{name}}</td><td>{{distance}}</td>
          </tr>
        {{/runs}}
      {{/laterRuns}}
      </tbody>
    </table>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <script>
      (function () {
        var
          form = document.forms[0],
          pickerContainer = document.getElementById("pickerContainer");
        
        var setData = function (type, value) {
          var input = document.getElementById(type);
          
          if (type === "distance") {
            input.value = value;
          } else if (type === "date") {
            switch (value) {
              case "today":
                input.value = moment().format("YYYY-MM-DD");
                break;
              case "tomorrow":
                input.value = moment().add(1, 'days').format("YYYY-MM-DD");
                break;
              case "picker":
                pickerContainer.classList.remove("hidden");
                break;
            }
          }
        };
        
        var clickHandler = function (clickEvent) {
          var
            trigger = clickEvent.target,
            type, value;
          if (trigger.type !== "button") {
            return;
          }
          
          
          if (trigger.dataset["date"]) {
            type = "date";
            pickerContainer.classList.add("hidden");
          } else if (trigger.dataset["distance"]) {
            type = "distance";
          }

          setData(type, trigger.dataset[type]);
        };
        
        var setSelected = function (clickEvent) {
          var
            buttons = clickEvent.target.parentNode.getElementsByTagName("button"),
            i, length;
            
          if (clickEvent.target.type !== "button") {
            return;
          }
          
          for (i = 0, length = buttons.length; i < length; i++) {
            buttons[i].classList.remove("selected");
          }
          clickEvent.target.classList.add("selected");
        };
        
        setData("date", "tomorrow");
        setData("distance", "10");
        
        form.addEventListener("click", clickHandler, false);
        form.addEventListener("click", setSelected, false);
      })();
    </script>
  </body>
</html>
